.c-sf-add-button {
  width: 100%;
  height: 34px;
  appearance: none;
  border: 0 none;
  color: #007d7e;
  font-weight: bold;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  backface-visibility: hidden;
  overflow: hidden;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in-out; }
  .c-sf-add-button:hover {
    opacity: 1; }
  .c-sf-add-button i {
    display: block;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-style: normal;
    font-size: 24px;
    line-height: 34px; }
  .c-sf-add-button--visible {
    opacity: 0.8;
    pointer-events: unset; }
  .c-sf-add-button--close i {
    transform: rotate(45deg); }

.c-sf-add-panel {
  position: relative;
  padding: 7.5px 0 30px;
  border-radius: 3px;
  user-select: none; }
  @media (min-width: 1075px) {
    .c-sf-add-panel {
      padding: 7.5px 60px 19px; } }
  .c-sf-add-panel__group-title {
    margin: 5px 0;
    font-weight: 600; }
  .c-sf-add-panel__grid {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px; }
    .c-sf-add-panel__grid:last-child {
      margin-bottom: 0; }

.c-sf-button {
  display: flex;
  flex: 1 1 200px;
  margin: 8px;
  appearance: none;
  background: #eee;
  padding: 10px 10px;
  border: 0 none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out; }
  .c-sf-button:hover, .c-sf-button:focus {
    background-color: #007d7e; }
    .c-sf-button:hover .c-sf-button__icon,
    .c-sf-button:hover .c-sf-button__label, .c-sf-button:focus .c-sf-button__icon,
    .c-sf-button:focus .c-sf-button__label {
      color: white; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .c-sf-button {
      display: inline-block;
      margin: 0 10px 10px 0; } }
  .c-sf-button__icon, .c-sf-button__label {
    display: inline-block;
    color: #333;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    transition: color 0.3s ease-in-out; }
  .c-sf-button__icon {
    font-size: 16px;
    padding-right: 10px; }
    .c-sf-button__icon .icon::before {
      vertical-align: initial; }
  .c-sf-button__label {
    padding-top: 2px; }

.c-sf-block {
  flex: 1 1 auto;
  margin: 4px 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: white;
  transition: border-color 0.3s ease-in-out;
  transition-property: border-color, box-shadow; }
  .c-sf-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4px;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
    cursor: default;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 30px; }
    @media (min-width: 800px) {
      .c-sf-block__header {
        padding-left: 16px; } }
    .c-sf-block__header--collapsible {
      cursor: pointer; }
    .c-sf-block__header--sortable {
      cursor: grab; }
    .c-sf-block__header__title, .c-sf-block__header__icon {
      color: #585858; }
    .c-sf-block__header__title {
      display: inline-block;
      flex: 1 10 auto;
      margin: 0;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .c-sf-block__header__icon {
      margin: 0 8px;
      font-size: 20px;
      transition: color 0.3s ease-in-out; }
  .c-sf-block__content-inner {
    padding: 16px 24px; }
  .c-sf-block__actions {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden; }
    .c-sf-block__actions__single {
      appearance: none;
      border: 0 none;
      background: none;
      cursor: pointer;
      color: #585858;
      opacity: 1;
      transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
      transition-property: opacity, color, background-color;
      font-size: 18px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 0 8px; }
      .c-sf-block__actions__single:not(:last-of-type) {
        margin-right: 3px; }
      .c-sf-block__actions__single:focus, .c-sf-block__actions__single:hover {
        background-color: #eee; }
        .c-sf-block__actions__single:focus i, .c-sf-block__actions__single:hover i {
          color: #333; }
      .c-sf-block__actions__single i {
        font-style: normal;
        transition: color 0.3s ease-in-out; }
        .c-sf-block__actions__single i:before {
          vertical-align: top;
          margin: 0 0 0 -2px; }
      .c-sf-block__actions__single[disabled] {
        opacity: 0.2;
        pointer-events: none; }
  .c-sf-block__type {
    margin: 0 8px;
    text-align: right;
    font-size: 12px;
    color: #585858;
    user-select: none;
    vertical-align: 2px;
    overflow-x: hidden;
    text-overflow: ellipsis; }
  .c-sf-block.c-sf-block--error {
    border-color: #dbc7c8; }
    .c-sf-block.c-sf-block--error > .c-sf-block__header {
      background: #fbefef; }
    .c-sf-block.c-sf-block--error:hover, .c-sf-block.c-sf-block--error:focus {
      border-color: #cdb2b3; }
      .c-sf-block.c-sf-block--error:hover > .c-sf-block__header, .c-sf-block.c-sf-block--error:focus > .c-sf-block__header {
        background: #fbefef; }
    .c-sf-block.c-sf-block--error:focus-within {
      border-color: #cdb2b3; }
      .c-sf-block.c-sf-block--error:focus-within > .c-sf-block__header {
        background: #fbefef; }
  .c-sf-block:hover, .c-sf-block:focus {
    border-color: #bbbbbb;
    box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, 0.1); }
    .c-sf-block:hover > .c-sf-block__header, .c-sf-block:focus > .c-sf-block__header {
      background: #f5f5f5; }
      .c-sf-block:hover > .c-sf-block__header .c-sf-block__header__title,
      .c-sf-block:hover > .c-sf-block__header .c-sf-block__actions__single, .c-sf-block:focus > .c-sf-block__header .c-sf-block__header__title,
      .c-sf-block:focus > .c-sf-block__header .c-sf-block__actions__single {
        color: #4d4d4d; }
  .c-sf-block:focus-within {
    border-color: #bbbbbb;
    box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, 0.1); }
    .c-sf-block:focus-within > .c-sf-block__header {
      background: #f5f5f5; }
      .c-sf-block:focus-within > .c-sf-block__header .c-sf-block__header__title,
      .c-sf-block:focus-within > .c-sf-block__header .c-sf-block__actions__single {
        color: #4d4d4d; }

.c-sf-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 17px 0;
  transition: padding 0.3s ease-in-out; }
  .c-sf-container__block-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap; }
  @media (min-width: 800px) {
    .c-sf-container--add-in-gutter {
      padding-left: 34px; }
      .c-sf-container--add-in-gutter .c-sf-add-button {
        width: 34px;
        height: 0;
        transform: translate(-100%, -17px);
        overflow: visible; } }
  .c-sf-container .field + .field {
    padding-top: 15px; }
  .c-sf-container .field__label {
    display: block;
    font-weight: bold;
    margin-bottom: 7.5px; }
  .c-sf-container .field.required > label::after {
    content: '*';
    color: #cd3238;
    font-weight: 700;
    display: inline-block;
    margin-left: 0.5em;
    line-height: 1em;
    font-size: 13px; }

.icon-duplicate:before {
  content: '\E902'; }

.c-sf-container .c-sf-button__icon .icon::before {
  margin: unset; }

.c-sf-container .field label {
  float: unset;
  width: unset;
  max-width: unset;
  padding: 0; }
  .c-sf-container .field label::after {
    content: ''; }

.c-sf-container .field-content {
  float: unset;
  display: block;
  width: unset; }
  .c-sf-container .field-content textarea {
    max-width: 100%; }

.c-sf-container .help {
  margin: 8px 0; }

.object.stream-field {
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px; }
  .object.stream-field.required .field > label:after {
    display: none; }
  .object.stream-field .object-layout_big-part {
    max-width: 100%; }
  .object.stream-field fieldset {
    padding-bottom: 0;
    max-width: unset;
    min-width: 0; }
    .object.stream-field fieldset input[type="radio"] {
      margin-bottom: 1.1em;
      vertical-align: middle; }
      .object.stream-field fieldset input[type="radio"]::before {
        top: unset; }
  .object.stream-field .block_field > .field-content {
    width: 100%; }

