.c-sf-add-button {
  width: 100%;
  height: 34px;
  appearance: none;
  border: 0 none;
  color: #007d7e;
  font-weight: bold;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  backface-visibility: hidden;
  overflow: hidden;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; }
  .c-sf-add-button i {
    display: block;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-style: normal;
    font-size: 28px;
    line-height: 34px; }
  .c-sf-add-button--visible {
    opacity: 1;
    pointer-events: unset; }
  .c-sf-add-button--closed i {
    transform: rotate(45deg); }

.c-sf-add-panel {
  position: relative;
  padding: 7.5px;
  background: #EEEEEE;
  border-radius: 3px;
  user-select: none; }
  .c-sf-add-panel__group-title {
    margin: 7.5px 7.5px 0; }

.c-sf-button {
  margin: 7.5px;
  appearance: none;
  background: #007d7e;
  padding: 0;
  border: 0 none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  overflow: hidden; }
  .c-sf-button__icon, .c-sf-button__label {
    display: inline-block;
    color: white;
    font-weight: normal; }
  .c-sf-button__icon {
    padding: 6px 0 6px 8px; }
  .c-sf-button__label {
    padding: 6px 8px;
    text-transform: uppercase; }

.c-sf-block {
  flex: 1 1 auto;
  margin: 4px 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: white;
  transition: border-color 0.3s ease-in-out;
  transition-property: border-color, box-shadow; }
  .c-sf-block__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
    cursor: default;
    border-top-left-radius: 3px; }
    .c-sf-block__header--collapsible {
      cursor: pointer; }
    .c-sf-block__header--sortable {
      cursor: grab; }
    .c-sf-block__header__title {
      display: inline-block;
      flex: 1 1 auto;
      margin: 0;
      color: #888888;
      vertical-align: middle; }
      .c-sf-block__header__title__icon {
        color: currentColor;
        transition: color 0.3s ease-in-out; }
  .c-sf-block__content-inner {
    padding: 12px; }
  .c-sf-block__actions {
    white-space: nowrap; }
    .c-sf-block__actions__single {
      appearance: none;
      border: 0 none;
      padding: 6px 8px;
      background: none;
      cursor: pointer;
      color: #888888;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
      transition-property: opacity, color;
      font-size: 18px; }
      .c-sf-block__actions__single i {
        font-style: normal; }
        .c-sf-block__actions__single i:before {
          margin: 0; }
      .c-sf-block__actions__single[disabled] {
        opacity: 0.2;
        pointer-events: none; }
  .c-sf-block__type {
    margin-right: 16px;
    text-transform: uppercase;
    text-align: right;
    font-size: 80%;
    line-height: 100%;
    color: #888888;
    vertical-align: middle;
    user-select: none; }
  .c-sf-block.c-sf-block--error {
    border-color: #dbc7c8; }
    .c-sf-block.c-sf-block--error > .c-sf-block__header {
      background: #fbefef; }
    .c-sf-block.c-sf-block--error:hover, .c-sf-block.c-sf-block--error:focus, .c-sf-block.c-sf-block--error:focus-within {
      border-color: #cdb2b3; }
      .c-sf-block.c-sf-block--error:hover > .c-sf-block__header, .c-sf-block.c-sf-block--error:focus > .c-sf-block__header, .c-sf-block.c-sf-block--error:focus-within > .c-sf-block__header {
        background: #fbefef; }
  .c-sf-block.SIMPLE {
    display: flex;
    flex-flow: row nowrap; }
    .c-sf-block.SIMPLE > .c-sf-block__header {
      position: relative;
      flex: 0 0 auto;
      padding: 6px 8px;
      border-bottom-left-radius: 3px; }
      .c-sf-block.SIMPLE > .c-sf-block__header .c-sf-block__header__title {
        position: sticky;
        top: 7.5px;
        bottom: 7.5px; }
    .c-sf-block.SIMPLE > .c-sf-block__content {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      width: 0; }
    .c-sf-block.SIMPLE > .c-sf-block__aside {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end; }
      .c-sf-block.SIMPLE > .c-sf-block__aside .c-sf-block__type {
        margin: 0 8px 6px 8px; }
  .c-sf-block.COLLAPSIBLE > .c-sf-block__header {
    border-top-right-radius: 3px; }
    .c-sf-block.COLLAPSIBLE > .c-sf-block__header .c-sf-block__header__title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .c-sf-block.COLLAPSIBLE > .c-sf-block__header .c-sf-block__header__title__icon {
      margin-right: 8px; }
    .c-sf-block.COLLAPSIBLE > .c-sf-block__header > .c-sf-block__aside {
      flex: 0 0 auto; }
  .c-sf-block:hover, .c-sf-block:focus, .c-sf-block:focus-within {
    border-color: #bbbbbb;
    box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, 0.1); }
    .c-sf-block:hover > .c-sf-block__header, .c-sf-block:focus > .c-sf-block__header, .c-sf-block:focus-within > .c-sf-block__header {
      background: #f5f5f5; }
      .c-sf-block:hover > .c-sf-block__header .c-sf-block__header__title,
      .c-sf-block:hover > .c-sf-block__header .c-sf-block__actions__single, .c-sf-block:focus > .c-sf-block__header .c-sf-block__header__title,
      .c-sf-block:focus > .c-sf-block__header .c-sf-block__actions__single, .c-sf-block:focus-within > .c-sf-block__header .c-sf-block__header__title,
      .c-sf-block:focus-within > .c-sf-block__header .c-sf-block__actions__single {
        color: #4d4d4d; }

.c-sf-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: 17px 0;
  transition: padding 0.3s ease-in-out; }
  .c-sf-container__block-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap; }
  @media (min-width: 800px) {
    .c-sf-container--add-in-gutter {
      padding-left: 34px; }
      .c-sf-container--add-in-gutter .c-sf-add-button {
        width: 34px;
        height: 0;
        transform: translate(-100%, -17px);
        overflow: visible; } }
  .c-sf-container .field + .field {
    padding-top: 15px; }
  .c-sf-container .field__label {
    display: block;
    font-weight: bold;
    margin-bottom: 7.5px; }
  .c-sf-container .field.required > label::after {
    content: '*';
    color: #cd3238;
    font-weight: 700;
    display: inline-block;
    margin-left: 0.5em;
    line-height: 1em;
    font-size: 13px; }

.icon-duplicate:before {
  content: '\E902'; }

.c-sf-container .c-sf-button__icon .icon::before {
  margin: unset; }

.c-sf-container .field label {
  float: unset;
  width: unset;
  max-width: unset;
  padding: 0; }
  .c-sf-container .field label::after {
    content: ''; }

.c-sf-container .field-content {
  float: unset;
  display: block;
  width: unset; }
  .c-sf-container .field-content textarea {
    max-width: 100%; }

.c-sf-container .help {
  margin: 8px 0; }

.object.stream-field {
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-right: 20px; }
  .object.stream-field.required .field > label:after {
    display: none; }
  .object.stream-field .object-layout_big-part {
    max-width: 100%; }
  .object.stream-field fieldset {
    padding-bottom: 0;
    max-width: unset;
    min-width: 0; }
  .object.stream-field .block_field > .field-content {
    width: 100%; }

